<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вычисление времени сна</title>
    <link rel="stylesheet" href="main_screen.css">
</head>
<body>
    <div class="counter-container">
        <h2>Вычисление времени сна</h2>
        <form method="POST" action="/calculate">
            <img src="https://i.pinimg.com/736x/41/a1/70/41a17015ae66b228fc8e6d2c04207c6d.jpg" alt="moon" class="icon">
            <label for="sleep-time">Время отхода ко сну</label>
            <input type="text" id="sleep-time" name="sleep-time" placeholder="HH:MM" required>

            <img src="https://avatars.mds.yandex.net/i?id=9594b86a9c99f06706ff2ffc74412d99ccba6627-5232859-images-thumbs&n=13" alt="sun" class="icon">
            <label for="wake-time">Время пробуждения</label>
            <input type="text" id="wake-time" name="wake-time" placeholder="HH:MM" required>

            <input type="submit" value="Рассчитать">
        </form>
    </div>
</body>
</html>
